<div class="container">
	<div class="row">
    <div class="table-responsive table-bordered movie-table">
      <table class="table movie-table"> 
        <tbody> 
          <!--row-->
          <tr class= "dark-row">
            <td>Name: <%= @user.name %></td>                                   
          </tr>
          <tr class= "dark-row">
            <td>Email: <%= @user.email %></td>                                   
          </tr>
          <tr class= "dark-row">
            <td>User Creation : <%= @user.created_at %></td>                                   
          </tr> 
        </tbody>
      </table>
    </div>
	</div>
</div>