<div>
  <%= link_to "Export Users In Excelsheet", download_excel_products_path(:query_data => @query_data, format: "xlsx") %>
</div>
<br>
<div>
  <%= link_to "Back", products_path %>
</div>

<%= render :partial => 'products' %>